@charset "UTF-8";
/*////[Variable de couleurs]
________________________________________________________*/
:root {
  --blanc:#fff;
  --charcoal: hsl(0, 0%, 5%);
  --noir: hsl(0, 0%, 3%);
  --or: hsl(43, 95%, 49%);
}

/*////[Reset du code HTML]
________________________________________________________*/
/*[Le document en général]*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/*[Affecte tous les enfants]*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/*[Reset des liens]*/
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*[Reset des listes à l'intérieur d'un nav]*/
nav ul {
  list-style: none;
}

/*////[Grille principale]
________________________________________________________*/
div.interface {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
      grid-template-areas: 'produits' 'heures' 'promotion' 'commande' 'livraison' 'entreprise' 'footer';
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

footer .socio {
  margin-top: 4em;
}

footer .socio i {
  font-size: 2em;
  margin: 1em;
}

footer .socio i:hover {
  color: var(--or);
}

footer .adresse {
  margin: auto;
}

footer .adresse .ligne::after {
  height: 2px;
  display: block;
  width: 70%;
  background: var(--or);
  content: '';
  margin: 2em;
}

footer .adresse .ligne::before {
  height: 2px;
  display: block;
  width: 70%;
  background: var(--or);
  content: '';
  margin: 2em;
}

footer .adresse p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
  padding: .5em;
}

footer form {
  margin: auto;
  font-size: 1.4em;
}

footer img {
  margin-bottom: 4em;
}

.hero {
  padding: 1em;
  background-color: var(--noir);
}

.hero i:hover {
  color: var(--or);
}

.hero ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero ul li {
  color: var(--blanc);
  padding: .5em;
}

#produits .contenu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding: 2em;
}

#produits .contenu img {
  width: 450px;
  height: 300px;
  margin: 3em;
  -o-object-fit: cover;
     object-fit: cover;
}

#produits button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*////[Navigation principale]
________________________________________________________*/
.teteAffiche {
  height: 80vh;
  background-image: url(/images/piano.jpg);
  background-position: center;
  background-size: cover;
}

.teteAffiche nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
}

.teteAffiche nav ul li {
  color: var(--blanc);
  padding: .8em;
  margin-top: 5em;
  font-size: 1.2em;
}

.teteAffiche nav img {
  width: 20%;
  margin-right: 4em;
}

.teteAffiche nav a:hover {
  border-bottom: 1px solid var(--or);
}

/*////[Les zones de contenu]
________________________________________________________*/
#produits, #heures, #promotion, #commande, #livraison, #entreprise, #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8em;
}

#produits {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: produits;
  background-color: var(--charcoal);
}

#heures {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: heures;
  background-color: var(--noir);
}

#promotion {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: promotion;
  background-color: var(--charcoal);
}

#commande {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: commande;
  background-color: var(--noir);
}

#livraison {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: livraison;
  background-color: var(--charcoal);
}

#entreprise {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: entreprise;
  background-color: var(--noir);
}

#footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: var(--charcoal);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

p {
  color: var(--blanc);
  font-family: 'Quicksand', sans-serif;
}

i {
  color: var(--blanc);
}

button, .button {
  background-color: var(--or);
  border: 2px solid var(--blanc);
  padding: .3em;
  width: 12em;
  font-family: 'Quicksand', sans-serif;
  color: var(--blanc);
  font-size: 1.5em;
  text-transform: capitalize;
}

button:hover, .button:hover {
  background-color: var(--blanc);
  color: var(--or);
}

header > p {
  width: 50%;
  font-size: 1.1em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input, form textarea {
  margin-top: .7em;
  padding: .7em;
  resize: none;
}

h2 {
  display: inline-block;
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
  font-size: 5em;
  color: var(--blanc);
}

h2::after {
  height: 2px;
  display: block;
  width: 100%;
  background: var(--or);
  content: '';
}

#heures .contenu {
  padding: 5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#heures .contenu::after {
  height: 2px;
  display: block;
  width: 100%;
  background: var(--or);
  content: '';
  margin: 2em;
}

#heures .contenu::before {
  height: 2px;
  display: block;
  width: 100%;
  background: var(--or);
  content: '';
  margin: 2em;
}

#heures .contenu p {
  font-size: 2em;
  text-align: right;
  padding: .1em;
}

#heures .contenu p span {
  color: var(--or);
}

#promotion {
  position: relative;
}

#promotion .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#promotion .contenu p {
  margin: auto;
  margin-right: 12em;
  padding: 4em;
  font-size: 1.5em;
}

#promotion .contenu p span {
  color: var(--or);
  font-size: 1.6em;
}

#promotion img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  height: 100%;
  width: 20em;
}

#commande ul {
  color: var(--blanc);
  list-style-type: decimal;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 3em;
  font-size: 1.5em;
  list-style-position: inside;
}

#commande ul li {
  padding: 1.4em;
  border-left: 2px solid var(--or);
  border-right: 2px solid var(--or);
  border-radius: 30px;
}

#livraison .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#livraison .contenu div {
  padding: 3em;
  margin-left: 5em;
}

#livraison .contenu div form {
  width: 18em;
  margin-right: auto;
  margin-top: .9em;
}

#livraison .contenu div p {
  font-size: 3em;
  text-align: left;
}

#livraison .contenu div p span {
  border-bottom: 2px solid var(--or);
}

#livraison .contenu img {
  width: 30em;
  height: auto;
  margin-top: 2em;
}

#entreprise .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#entreprise .contenu p {
  font-size: 1.2em;
  padding: 0 10em;
}

#entreprise .contenu p::after {
  height: 2px;
  display: block;
  width: 70%;
  background: var(--or);
  content: '';
  margin: 2em;
}

#entreprise .contenu p::before {
  height: 2px;
  display: block;
  width: 70%;
  background: var(--or);
  content: '';
  margin: 2em;
}

#entreprise .contenu img {
  width: 30em;
  height: auto;
  margin-top: 2em;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carousel .mySlides {
  display: none;
}

.carousel .mySlides .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.carousel .prev, .carousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel .prev.next, .carousel .next.next {
  right: 0;
}

.carousel .prev.next:hover, .carousel .next.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel .prev.prev, .carousel .next.prev {
  left: 0;
}

.carousel .prev.prev:hover, .carousel .next.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: var(--blanc);
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--or);
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--charcoal);
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6em;
}

img {
  width: 30em;
}

h2 {
  padding: .5em;
}

form {
  padding: 1.5em;
}

p {
  padding: 1em;
}

p:hover {
  color: var(--or);
}
/*# sourceMappingURL=style.css.map */