@charset "UTF-8";
/*////[Variable de couleurs]
________________________________________________________*/
:root {
  --blanc:#fff;
  --charcoal: hsl(0, 0%, 5%);
  --noir: hsl(0, 0%, 3%);
  --or: hsl(43, 95%, 49%);
}

/*////[Reset du code HTML]
________________________________________________________*/
/*[Le document en général]*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/*[Affecte tous les enfants]*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/*[Reset des liens]*/
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/*[Reset des listes à l'intérieur d'un nav]*/
nav ul {
  list-style: none;
}

/*////[Grille principale]
________________________________________________________*/
div.interface {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
      grid-template-areas: 'produits' 'heures' 'promotion' 'commande' 'livraison' 'entreprise' 'footer';
}

.hero {
  background-color: var(--noir);
}

.hero ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero ul li {
  color: var(--blanc);
  padding: .5em;
}

#produits .contenu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding: 2em;
}

#produits .contenu img {
  width: 250px;
  height: 300px;
  margin: 3em;
  -o-object-fit: cover;
     object-fit: cover;
}

/*////[Navigation principale]
________________________________________________________*/
.teteAffiche {
  height: 80vh;
  background-image: url(/images/piano.jpg);
  background-position: center;
  background-size: cover;
}

.teteAffiche nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2em;
}

.teteAffiche nav ul li {
  color: var(--blanc);
  padding: .8em;
  margin-top: 5em;
  font-size: 1.2em;
}

.teteAffiche nav img {
  width: 20%;
  margin-right: 4em;
}

.teteAffiche nav a:hover {
  border-bottom: 1px solid var(--or);
}

/*////[Les zones de contenu]
________________________________________________________*/
#produits, #heures, #promotion, #commande, #livraison, #entreprise, #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8em;
}

#produits header h2, #heures header h2, #promotion header h2, #commande header h2, #livraison header h2, #entreprise header h2, #footer header h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
  font-size: 5em;
  color: var(--blanc);
}

#produits {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: produits;
  background-color: var(--charcoal);
}

#heures {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: heures;
  background-color: var(--noir);
}

#promotion {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: promotion;
  background-color: var(--charcoal);
}

#commande {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: commande;
  background-color: var(--noir);
}

#livraison {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: livraison;
  background-color: var(--charcoal);
}

#entreprise {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: entreprise;
  background-color: var(--noir);
}

#footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: var(--charcoal);
}

p {
  color: var(--blanc);
  font-family: 'Quicksand', sans-serif;
}

button, .button {
  background-color: var(--or);
  border: 2px solid var(--blanc);
  padding: .3em;
  width: 12em;
  font-family: 'Quicksand', sans-serif;
  color: var(--blanc);
  font-size: 1.5em;
  text-transform: capitalize;
}

button:hover, .button:hover {
  background-color: var(--blanc);
  color: var(--or);
}

header > p {
  width: 50%;
  font-size: 1.1em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input, form textarea {
  margin-top: .7em;
  padding: .7em;
  resize: none;
}

#heures .contenu {
  padding: 5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#heures .contenu p {
  font-size: 2em;
  text-align: right;
  padding: .1em;
}

#heures .contenu p span {
  color: var(--or);
}

#promotion {
  position: relative;
}

#promotion .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#promotion .contenu p {
  margin: auto;
  margin-right: 12em;
  padding: 4em;
  font-size: 1.5em;
}

#promotion .contenu p span {
  color: var(--or);
  font-size: 1.6em;
}

#promotion img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  height: 100%;
  width: 20em;
}

#commande ul {
  color: var(--blanc);
  list-style-type: decimal;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 3em;
  font-size: 1.5em;
  list-style-position: inside;
}

#commande ul li {
  padding: 1.4em;
  border-left: 2px solid var(--or);
  border-right: 2px solid var(--or);
  border-radius: 30px;
}

#livraison .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#livraison .contenu div {
  padding: 3em;
  margin-left: 5em;
}

#livraison .contenu div form {
  width: 18em;
  margin-right: auto;
  margin-top: .9em;
}

#livraison .contenu div p {
  font-size: 3em;
  text-align: left;
}

#livraison .contenu div p span {
  border-bottom: 2px solid var(--or);
}

#livraison .contenu img {
  width: 30em;
  height: auto;
  margin-top: 2em;
}

#entreprise .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#entreprise .contenu p {
  margin: auto;
  font-size: 1.2em;
  padding: 0 20em;
}

#entreprise .contenu img {
  width: 30em;
  height: auto;
  margin-top: 2em;
}
/*# sourceMappingURL=style.css.map */