//----------------------------------------------------//
//                                                    //
//                   // MIXIN //                      //
//                   _mixin.scss                      //
//----------------------------------------------------//


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Importation
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin FlexC{
    display: flex;
    flex-direction: column;
}
@mixin FlexR{
    display: flex;
    flex-direction: row;
}
@mixin button {
    background-color: var(--or);
    border: 2px solid var(--blanc);
    padding: .3em;
    width: 12em;
    font-family: 'Quicksand', sans-serif;
    color: var(--blanc);
    font-size: 1.5em;
    text-transform: capitalize;

        &:hover{
            background-color: var(--blanc);
            color: var(--or);
        }
}

@mixin message{
    @include FlexC;

    & input, textarea{
        margin-top: .7em;
        padding: .7em;
        resize: none;
    }
}