//----------------------------------------------------//
//                                                    //
//                  // VARIABLES //                   //
//                 _variables.scss                    //
//----------------------------------------------------//

/*////[Variable de couleurs]
________________________________________________________*/
:root{
    --blanc:#fff;
    --charcoal: hsl(0, 0%, 5%);
    --noir: hsl(0, 0%, 3%);
    
}
