#contenuAdmin{
    padding-bottom: 3em;

    & form{
        margin: auto;

        & .colonneDesc{
            @include FlexC;
        }
        
        & div{


            & .colonne{
                @include FlexC;

                & button{
                    font-size: .8em;
                    margin-top: -2em;
                    margin-bottom: 2em;
                }

                & img{
                    width: 10em;
                    height: 10em;
                    object-fit: cover;
                    margin: 3em;
    
                }
            }


        }
        & p{
            font-size: 1em;
        }


    }

    & .ajouter{
        margin-top: 1em;
    }
}

