#contenuAdmin{

    & .produit{
        padding: 1em 5em;
        & .modif{
            @include FlexC;
            margin-top: -3em;

            & .icone{
                font-size: 2em;
                margin-top: 1em;

                & i:hover{
                    cursor: pointer;
                    color: var(--or);
                }

                & a{
                    margin: .2em;

                }
            }

            & .prix{
                @include FlexC;
                margin-top: 2em;
                & p{
                   padding: 0; 
                }
            }
        }

        & .descritpion{
            @include FlexC;

            & p{
                padding: 3em;
                font-size: 1em;
                margin-top: -5em;
                text-align: left;
            }
        }

        & img{
            width: 15em;
            height: 15em;
            object-fit: cover;
        }
    }
}
