#commande{

    & ul{
        color: var(--blanc);
        list-style-type: decimal;
        align-self: center;
        padding: 3em;
        font-size: 1.5em;
        list-style-position: inside;

        & li{
            padding: 1.4em;
            border-left: 2px solid var(--or) ;
            border-right: 2px solid var(--or) ;
            border-radius: 30px;
        }
    }
}