.ficheProduit{
    @include FlexC;

    & h2{
        margin: 1em 0 1em 0;
        align-self: center;

    }

    & .fiche{
        @include FlexR;

        & p{
            font-size: 1.5em;
            padding: 2em;
        }

        & button{
            margin-left: 2em;
        }

        & .prix{
            padding: 2.5em;
            & p{
                padding: 0;
                font-size: 2em;
                
            }
        }
    
        & img{
            width: 30em;
            height: 30em;
            object-fit: cover;
        }
    
    }
}
