.hero{
    padding: 1em;
    background-color: var(--noir);

    & i:hover{
        color: var(--or);
    }

    & ul{
        @include FlexR;
        justify-content: flex-end;

        & li{
            color: var(--blanc);
            padding: .5em;
        }
    }
}
