.hero{
    
    background-color: var(--noir);

    & ul{
        @include FlexR;
        justify-content: flex-end;

        & li{
            color: var(--blanc);
            padding: .5em;
        }
    }
}
