#heures{
    
    & .contenu{
        padding: 5em;
        align-self: center;

        &::after{
            height: 2px;
            display: block;
            width: 100%;
            background: var(--or);
            content: '';
            margin: 2em;
        }

        &::before{
            height: 2px;
            display: block;
            width: 100%;
            background: var(--or);
            content: '';
            margin: 2em ;
        }
        
        & p{
            font-size: 2em;
            text-align: right;
            padding: .1em;

            & span{
                color: var(--or);
            }
        }
    }
}