#heures{
    
    & div{
        padding: 5em;
        align-self: center;
        
        & p{
            font-size: 1.5em;
            font-family: Studio Gothic Alternate Trial;

            & span{
                font-family: Baskerville Old Face;
            }
        }
    }
}