//----------------------------------------------------//
//                                                    //
//                   // LAYOUT //                     //
//                   _layout.scss                     //
//----------------------------------------------------//


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Importation
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
@import'_footer';
@import'_header';
@import'_Produits';
@import'_navPrincipale';
@import'_zones';
@import'_visuel';
@import'_heures';
@import'_promo';
@import'_commande';
@import'_livraison';
@import'_entreprise';
@import'_carousel';
@import'_adminConnexion';
@import'_adminAccueil';
@import'_adminCreation';
@import'_adminListe';
@import'_fiche';
@import'_suppression';