//----------------------------------------------------//
//                                                    //
//                // NAV PRINCIPALE //                //
//               _navPrincipale.scss                  //
//----------------------------------------------------//

/*////[Navigation principale]
________________________________________________________*/
.teteAffiche{
    height: 100vh;
    background-image: url(/images/piano.jpg);
    background-position: center;
    background-size: cover;
   

    & nav{

        & ul{
            @include FlexR;
            justify-content: center;
            padding-top: 2em;
            
            & li{
                color: var(--blanc);
                padding: .8em;
                margin-top: 5em;
                font-size: 1.2em;
            }
        }

        & img{
            width: 20%;
            margin-right: 4em;
        }

        & a:hover{
            animation: fadeIn;
            animation-duration: 0.6s;
            border-bottom: 1px solid var(--or);
        }
    }
}

.navbar {
    display: none;
    overflow: hidden;
    background-color: var(--or);
    z-index: 200;

    & nav{

        & ul{
            padding: 1em;
            & a:hover{
                border-bottom: 1px solid var(--noir);
            }
        
            & li{
                margin-top: 0;
            }
        }

      }
    }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
