#produits{

    & .contenu{
        align-self: center;
        text-align: center;
        padding: 2em;

        & img{
            width: 450px;
            height: 300px;
            margin: 3em;
            object-fit: cover;
        }
    }
    
    & button{
        align-self: center;
    }
}
