#produits{

    & .contenu{
        align-self: center;
        text-align: center;
        padding: 2em;

        & img{
            width: 35em;
            height: 20em;
            margin: 3em;
            object-fit: cover;
        }
    }
    
    & button{
        @extend .button;
        align-self: center;
    }
}
