p{
    color: var(--blanc);
    font-family: 'Quicksand', sans-serif;
}

button, .button{
    @include button;
}

header > p{
    width: 50%;
    font-size: 1.1em;
}

form{
    @include FlexC;

        & input, textarea{
            margin-top: .7em;
            padding: .7em;
            resize: none;
        }
}
