p{
    color: var(--blanc);
    font-family: 'Quicksand', sans-serif;
}

i{
    color: var(--blanc);
}

button, .button{
    @include button;
}

header > p{
    width: 50%;
    font-size: 1.1em;
}

form{
    @include message;
}

h2{
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-weight: 300;
    font-size: 5em;
    color:var(--blanc);
}

h2::after{
    height: 2px;
    display: block;
    width: 100%;
    background: var(--or);
    content: '';
}