
p, h3{
    color: var(--blanc);
    font-family: 'Quicksand', sans-serif;
}

i{
    color: var(--blanc);
}

button, .button{
    @include button;
}

header > p{
    width: 50%;
    font-size: 1.1em;
}

form{
    @include message;
}

h2{
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-weight: 300;
    font-size: 5em;
    color:var(--blanc);
}

h2::after{
    height: 2px;
    display: block;
    width: 100%;
    background: var(--or);
    content: '';
}

#menu{
    & .focus{
        color: var(--or);
    }
}

.ariane{
    @include FlexR;
    background-color: var(--or);
    padding: 1em;

    & a{
        
        & p{
            margin: 0em 1em;

            &:hover{
                color: var(--noir);
            }
        }
    }

    & p{
        margin: 0em 1em;
    }

}


#col1, #col2, #col3, #col4, #col5, #col6{
    @include FlexR;
    margin-top: 4em;
    overflow: hidden;
    & .descritpion{

        & button{
            margin-top: 1em;
            font-size: 1em;
        }
    }

    & .prix{
        margin: 1em;
        font-size: 1.4em;

    }

    & h3{
        margin: 1.5em 0;
        border-bottom: 1px solid var(--or);
    }

    & img{
        width: 15em;
        height: 15em;
        margin: 2em;
        object-fit: cover;
    }
}