//----------------------------------------------------//
//                                                    //
//                // GRILLE ADMIN //                 //
//               _grilleAdmin.scss                   //
//----------------------------------------------------//

/*////[Grille principale de la section admin]
________________________________________________________*/
div.interfaceAdmin{
    display:grid;
    grid-template-rows:auto;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        'menu contenuAdmin'
    ;
}

#menu{
    grid-area: menu;
}

#contenu{
    grid-area: contenuAdmin;
}
